body {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(184,106,106,1) 0%, rgba(126,106,184,1) 89%);
} /* applying a nice linear gradient*/
.balldontlietitle {
  font-size: 4vw;
  color: white;
  text-align: center;
}
.content{ /* these are the white squares for the api data */
  width: 33%; /* Since we have three divs, and our width is 100%, 33% is one third of the width so it centers */
  height: 400px;
  margin-top: 50px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}
#listDiv { /*this makes everything flex and side by side */
  margin-top: 2rem;
  width: 100%; /* Making the container flex and 100% width, so we can make our content centered */
  display: flex;
}
.contentTitle{ /*this is the container for the title for the content */
    width: 33%;
    height: 0px;
    margin-top: 10px;
    color: white;
    font-size: x-large;
    text-align: center;
} /*fix header centering */
.innerdivheader{
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.midStyle {
  width: 100%;
  height: 20px;
  margin-bottom: 5%;
  margin-left: 2%;
  font-size: 1.2rem !important;
} /* thes styles are heavily influenced from the last project, but i applied a nice gradient, got rid of bootstrap, and made a new div with a nice glass colorscheme*/